## **Basic Level:**

In [ ]:
for number in range(1, 11):
    print(number)

In [ ]:
# Defineing a list of numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Initialize a variable to store the sum
sum_of_numbers = 0

# Useing a for loop to iterate over each number in the list
for number in numbers:
    sum_of_numbers += number

# Print the sum
print("Sum of numbers:", sum_of_numbers)

In [ ]:
# Input string
input_string = " I love coding"

# Useing a for loop to iterate over each character in reverse order
for char in reversed(input_string):
  print(char, end="")

In [ ]:
# Input: Number for which factorial is to be calculated
number = int(input("Enter your number: "))

# Initialize the factorial to 1
factorial = 1

# Use a for loop to multiply numbers from 1 to the given number
for i in range(1, number + 1):
    factorial *= i

# Print the factorial
print(f"The factorial of {number} is: {factorial}")

In [ ]:
# Input: Number for which multiplication table is to be printed
number = int(input("Enter a number: "))

# Use a for loop to print the multiplication table
print(f"Multiplication table for {number}:")
for i in range(1, 11):
    result = number * i
    print(f"{number} x {i} = {result}")

In [ ]:
# Define a list of numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Initialize counters for even and odd numbers
even_count = 0
odd_count = 0

# Use a for loop to iterate over each number in the list
for number in numbers:
    if number % 2 == 0:
        even_count += 1
    else:
        odd_count += 1

# Print the counts
print("Number of even numbers:", even_count)
print("Number of odd numbers:", odd_count)

In [ ]:
# Use a for loop to print the squares of numbers from 1 to 5
for i in range(1, 6):
    square = i ** 2
    print(f"The square of {i} is: {square}")

## **Intermediate Level:**

In [ ]:
# Function to check for duplicates in a list
def has_duplicates(lst):
    seen = set()
    for item in lst:
        if item in seen:
            return True
        seen.add(item)
    return False

# Example usage
my_list = [1, 2, 3, 4, 5, 2]  # This list contains duplicates (2 appears twice)

# Check for duplicates
if has_duplicates(my_list):
    print("The list contains duplicates.")
else:
    print("The list does not contain duplicates.")

In [ ]:
# Function to check if a number is prime
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Function to print prime numbers in a given range
def print_primes_in_range(start, end):
    print(f"Prime numbers in the range {start} to {end}:")
    for number in range(start, end + 1):
        if is_prime(number):
            print(number)

# Example usage
start_range = 1
end_range = 20

# Print prime numbers in the given range
print_primes_in_range(start_range, end_range)

In [ ]:
# Function to count vowels in a string
def count_vowels(input_string):
    vowels = "aeiouAEIOU"
    count = 0

    for char in input_string:
        if char in vowels:
            count += 1

    return count

# Example usage
input_string = input("Enter a string: ")

# Count vowels in the input string
vowel_count = count_vowels(input_string)

# Print the result
print(f"The number of vowels in the string is: {vowel_count}")

In [ ]:
# Function to find the maximum element in a 2D list
def find_max_element(matrix):
    # Assume the first element as the maximum
    max_element = matrix[0][0]

    # Use nested loops to iterate through each element in the matrix
    for row in matrix:
        for element in row:
            # Update max_element if a greater element is found
            if element > max_element:
                max_element = element

    return max_element

# Example usage
my_matrix = [
    [3, 5, 2],
    [8, 1, 4],
    [6, 7, 9]
]

# Find the maximum element in the 2D list
max_value = find_max_element(my_matrix)

# Print the result
print(f"The maximum element in the 2D list is: {max_value}")

In [ ]:
# Define the range of numbers for the multiplication table
start_range = 1
end_range = 5

# Use nested for loops to generate the multiplication table
print("Multiplication Table:")
for i in range(start_range, end_range + 1):
    for j in range(1, 11):
        result = i * j
        print(f"{i} x {j} = {result}")
    print()  # Add a newline after each row for better readability

In [ ]:
# Function to convert Fahrenheit to Celsius
def fahrenheit_to_celsius(fahrenheit):
    return (fahrenheit - 32) * 5 / 9

# List of Fahrenheit temperatures
fahrenheit_temperatures = [32, 68, 86, 104, 212]

# Use a for loop to convert temperatures and print the result
print("Fahrenheit\tCelsius")
for fahrenheit in fahrenheit_temperatures:
    celsius = fahrenheit_to_celsius(fahrenheit)
    print(f"{fahrenheit}\t\t{celsius:.2f}")

## **Advanced Level:**

In [ ]:
# Function to calculate the sum of digits in a number
def sum_of_digits(number):
    return sum(int(digit) for digit in str(abs(number)))

# List of numbers
numbers = [123, 456, 789, 987]

# Use a list comprehension to calculate the sum of digits for each number
sums_of_digits = [sum_of_digits(number) for number in numbers]

# Print the result
for i, number in enumerate(numbers):
    print(f"Number: {number}, Sum of digits: {sums_of_digits[i]}")

In [ ]:
# Two lists to be combined into a dictionary
keys = ["name", "age", "city"]
values = ["monu", 25, "ranchi"]

# Use a dictionary comprehension to combine the lists
combined_dict = {keys[i]: values[i] for i in range(min(len(keys), len(values)))}

# Print the resulting dictionary
print("Combined Dictionary:", combined_dict)

In [ ]:
# Nested list
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8]]

# Flatten the nested list using list comprehension
flattened_list = [item for sublist in nested_list for item in sublist]

# Print the original and flattened lists
print("Original Nested List:", nested_list)
print("Flattened List:", flattened_list)

In [ ]:
# Function to check if a number is a palindrome
def is_palindrome(number):
    return str(number) == str(number)[::-1]

# Specify the limit
limit = 1000

# Use list comprehension to generate a list of palindromic numbers
palindromic_numbers = [num for num in range(limit) if is_palindrome(num)]

# Print the list of palindromic numbers
print("Palindromic Numbers up to", limit, ":", palindromic_numbers)

In [ ]:
# List of strings with alphanumeric characters
strings_with_nonnumeric = ['abc123', '456def', '789.0', '1a2b3c']

# Use list comprehension to remove non-numeric characters from each string
numeric_strings = [''.join(char for char in s if char.isdigit() or char == '.') for s in strings_with_nonnumeric]

# Print the original and modified lists
print("Original List:", strings_with_nonnumeric)
print("List with Non-Numeric Characters Removed:", numeric_strings)

## **Challenge Level:**

In [17]:
# Function to generate Pythagorean triplets up to a specified limit
def pythagorean_triplets(limit):
    return [(a, b, c) for a in range(1, limit + 1) for b in range(a, limit + 1) for c in range(b, limit + 1) if a**2 + b**2 == c**2]

# Specify the limit for generating Pythagorean triplets
limit = 20

# Generate a list of Pythagorean triplets using list comprehension
triplets = pythagorean_triplets(limit)

# Print the list of Pythagorean triplets
print(f"Pythagorean Triplets up to {limit}:", triplets)

Pythagorean Triplets up to 20: [(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15), (12, 16, 20)]